name: '5.0$(rev:.r)'

trigger:
  batch: true
  branches:
    include:
    - main
    - feature/*

pr:
- main

pool:
  vmImage: 'windows-2022'

variables:
- name: 'marketplaceServiceConnection'
  value: '84645cfd-95a8-4fcc-bb6a-d8e35e3d699d'

stages:
- stage: 'Build'
  displayName: 'Build and Test'
  jobs:
  - job: Build
    displayName: 'Build on $(vmImage) with Node $(nodeVersion)'
    # Cross-platform testing matrix
    strategy:
      matrix:
        Windows_Node20:
          vmImage: 'windows-2022'
          nodeVersion: '20.x'
        Linux_Node20:
          vmImage: 'ubuntu-latest'
          nodeVersion: '20.x'
        macOS_Node20:
          vmImage: 'macos-latest'
          nodeVersion: '20.x'
    pool:
      vmImage: $(vmImage)
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '$(nodeVersion)'
      displayName: 'Install Node.js'

    - script: |
        npm run initdev
      displayName: 'Install Node dependencies'

    - powershell: |
        $vswhereLatest = "https://github.com/Microsoft/vswhere/releases/latest/download/vswhere.exe"

        $targets = @(
          ".\BuildTasks\PublishVSExtension\tools\"
          ".\BuildTasks\PublishVSExtension\PublishVSExtension\tools\"
        )

        invoke-webrequest $vswhereLatest -OutFile $env:temp\vswhere.exe

        $targets | %{
          mkdir $_ -force | out-null
          copy $env:temp\vswhere.exe $_ -force
        }
      displayName: 'Grab the latest version of vswhere.exe'

    - task: Npm@1
      displayName: 'Build the extension'
      inputs:
        command: custom
        verbose: false
        customCommand: 'run build'

    - task: Npm@1
      displayName: 'Prepare the extension'
      inputs:
        command: custom
        verbose: false
        customCommand: 'run package'

    - pwsh: |
        $erroractionpreference = "silentlycontinue"
        del BuildTasks\PublishExtension\node_modules\7zip-bin\linux -recurse
        del BuildTasks\PublishExtension\node_modules\7zip-bin\mac -recurse
        del -include @(
            "package-lock.json",
            "*.ts",
            ".taskkey",
            "tsconfig.json",
            ".snyk",
            "*.md",
            "tsconfig.tsbuildinfo",
            "@types"
        ) -recurse BuildTasks\*\

        del -include @(
            "msal-browser"
        ) -recurse BuildTasks\*\node_modules\@azure\

        del -include @(
            "_tests"
        ) -recurse BuildTasks\TfxInstaller\node_modules\tfx-cli\

        del -include @(
            ".package-lock.json",
            "*.map",
            ".github",
            "@types",
            ".eslintrc",
            ".nycrc",
            "fixtures",
            "test",
            "tests",
            ".editorconfig",
            ".travis.yml",
            ".jshintrc",
            ".jscsrc",
            "CODEOWNERS",
            "doc",
            "CHANGELOG",
            "Makefile",
            "LICENSE-MIT",
            "LICENSE",
            "license",
            "AUTHORS",
            "tfx-cli-0.22.2.tgz",
            "typings",
            "browser"
        ) -recurse BuildTasks\*\node_modules -force  

        del -include @(
            "*.pem"
        ) -recurse BuildTasks\*\node_modules\azure-pipelines-tasks-azure-arm-rest\openssl*\PEM\ -force  
      displayName: 'Delete unneeded files'
    - pwsh: |
        ./fix-manifest-file.ps1
      displayName: 'Fix the manifest file'
    - task: TfxInstaller@5
      displayName: 'Use Node CLI for Azure DevOps'

    - task: PackageAzureDevOpsExtension@5
      displayName: 'Package Extension: $(Build.SourcesDirectory)'
      name: 'packagebuild'
      inputs:
        rootFolder: '$(Build.SourcesDirectory)'
        outputPath: '$(Build.ArtifactStagingDirectory)\vsts-developer-tools-build-tasks-build.vsix'
        publisherId: 'ms-devlabs'
        extensionId: 'vsts-developer-tools-build-tasks'
        extensionTag: '-build'
        extensionName: 'Azure DevOps Extension Tasks'
        extensionVersion: '$(Build.BuildNumber)'
        updateTasksVersion: true
        updateTasksVersionType: patch
        extensionVisibility: private

    - task: PackageAzureDevOpsExtension@5
      name: 'packageprivate'
      displayName: 'Package the private extension'
      inputs:
        rootFolder: '$(Build.SourcesDirectory)'
        outputPath: '$(Build.ArtifactStagingDirectory)\vsts-developer-tools-build-tasks-private.vsix'
        publisherId: 'ms-devlabs'
        extensionName: 'Azure DevOps Extension Tasks'
        extensionId: 'vsts-developer-tools-build-tasks'
        extensionVersion: '$(Build.BuildNumber)'
        extensionTag: '-dev'
        extensionVisibility: 'private'

    - task: PackageAzureDevOpsExtension@5
      name: 'packagedebug'
      displayName: 'Package the private extension'
      inputs:
        rootFolder: '$(Build.SourcesDirectory)'
        outputPath: '$(Build.ArtifactStagingDirectory)\jessehouwing.vsts-developer-tools-build-tasks-dev.vsix'
        publisherId: 'jessehouwing'
        extensionName: 'Azure DevOps Extension Tasks'
        extensionId: 'vsts-developer-tools-build-tasks'
        extensionVersion: '$(Build.BuildNumber)'
        extensionTag: '-dev'
        extensionVisibility: 'private'

    - task: PackageAzureDevOpsExtension@5
      displayName: 'Package the public extension'
      name: 'packagepublic'
      inputs:
        rootFolder: '$(Build.SourcesDirectory)'
        outputPath: '$(Build.ArtifactStagingDirectory)\vsts-developer-tools-build-tasks-public.vsix'
        publisherId: 'ms-devlabs'
        extensionName: 'Azure DevOps Extension Tasks'
        extensionId: 'vsts-developer-tools-build-tasks'
        extensionVersion: '$(Build.BuildNumber)'
        extensionVisibility: 'public'

    - publish: $(Build.ArtifactStagingDirectory)
      artifact: vsix
      displayName: 'Publish vsix as pipeline artifact'
      condition: succeededOrFailed()

- stage: IntegrationTests
  displayName: 'Integration Tests'
  dependsOn: 'Build'
  condition: succeeded()
  jobs:
  - job: IntegrationTest
    displayName: 'Integration Test on $(vmImage)'
    # Cross-platform testing matrix (matches Build stage)
    # Note: Could be extracted to YAML template if more stages need this matrix
    strategy:
      matrix:
        Windows_Node20:
          vmImage: 'windows-2022'
          nodeVersion: '20.x'
        Linux_Node20:
          vmImage: 'ubuntu-latest'
          nodeVersion: '20.x'
        macOS_Node20:
          vmImage: 'macos-latest'
          nodeVersion: '20.x'
    pool:
      vmImage: $(vmImage)
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '$(nodeVersion)'
      displayName: 'Install Node.js'
    
    - task: DownloadPipelineArtifact@2
      inputs:
        artifact: vsix
        path: $(Pipeline.Workspace)/vsix
      displayName: 'Download VSIX artifacts'
    
    - script: |
        npm install -g tfx-cli
      displayName: 'Install tfx-cli'
    
    - script: |
        echo "Verifying VSIX package integrity..."
        ls -lh $(Pipeline.Workspace)/vsix/*.vsix || dir $(Pipeline.Workspace)\vsix\*.vsix
      displayName: 'Verify VSIX packages'
      condition: succeededOrFailed()
    
    - task: PublishTestResults@2
      displayName: 'Publish integration test results'
      condition: succeededOrFailed()
      inputs:
        testResultsFormat: 'JUnit'
        testResultsFiles: '**/integration-test-results.xml'
        failTaskOnFailedTests: false

- stage: PublishDev
  displayName: 'Publish privately'
  # To enable: Set condition to: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
  # This will publish to the private marketplace for testing before production release
  condition: false # and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
  dependsOn: 'IntegrationTests'
  jobs:
  - deployment:
    environment: dev
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: vsix
            patterns: "**/*-private.vsix"

          - task: NodeTool@0
            inputs:
              versionSpec: '20.x'
            displayName: 'Install Node.js'

          - task: TfxInstaller@5
            displayName: 'Use Node CLI for Azure DevOps'

          - task: PublishAzureDevOpsExtension@5
            name: 'publishDev'
            displayName: 'Publish the private extension to ms-devlabs'
            inputs:
              connectTo: 'AzureRM'
              connectedServiceNameAzureRM: 'SecurePublishMarketplaceServiceConnection'
              fileType: 'vsix'
              vsixFile: '$(Pipeline.Workspace)/vsix/vsts-developer-tools-build-tasks-private.vsix'
              noWaitValidation: true

          - task: IsAzureDevOpsExtensionValid@5
            displayName: 'Validate the private extension on the marketplace'
            inputs:
              connectTo: 'AzureRM'
              connectedServiceNameAzureRM: 'SecurePublishMarketplaceServiceConnection'
              method: 'vsix'
              vsixFile: '$(publishDev.Extension.OutputPath)'

- stage: PublishProd
  displayName: 'Publish publicly to MsDevLabs'
  # To enable: Set condition to: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  # This will publish to the public marketplace and create a GitHub release
  # Ensure GitHub connection 'microsoft/azure-devops-extension-tasks' is configured
  condition: false # and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  dependsOn: 'PublishDev'
  jobs:
  - deployment:
    environment: public-vsts-developer-tools-build-tasks
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: vsix
            patterns: "**/*-public.vsix"

          - task: NodeTool@0
            inputs:
              versionSpec: '20.x'
            displayName: 'Install Node.js'

          - task: TfxInstaller@5
            displayName: 'Use Node CLI for Azure DevOps'

          - task: PublishAzureDevOpsExtension@5
            name: 'publishProd'
            displayName: 'Publish the public extension to ms-devlabs'
            inputs:
              connectTo: 'AzureRM'
              connectedServiceNameAzureRM: 'SecurePublishMarketplaceServiceConnection'
              fileType: 'vsix'
              vsixFile: '$(Pipeline.Workspace)/vsix/vsts-developer-tools-build-tasks-public.vsix'
              noWaitValidation: true

          - task: IsAzureDevOpsExtensionValid@5
            displayName: 'Validate the private extension on the marketplace'
            inputs:
              connectTo: 'AzureRM'
              connectedServiceNameAzureRM: 'SecurePublishMarketplaceServiceConnection'
              method: 'vsix'
              vsixFile: '$(publishProd.Extension.OutputPath)'

          - task: GitHubRelease@1
            displayName: 'Publish the public extension to GitHub'
            inputs:
              gitHubConnection: 'microsoft/azure-devops-extension-tasks'
              repositoryName: '$(Build.Repository.Name)'
              action: 'create'
              target: '$(Build.SourceVersion)'
              tagSource: 'userSpecifiedTag'
              tag: 'v$(Build.BuildNumber)'
              title: 'v$(Build.BuildNumber)'
              releaseNotesSource: 'inline'
              assets: '$(publishProd.Extension.OutputPath)*'
              changeLogCompareToRelease: 'lastFullRelease'
              changeLogType: 'issueBased'
              changeLogLabels: '[{ "state" : "closed" }]'
