name: demo-ping-$(Date:yyyyMMdd)$(Rev:.r)

trigger: none
pr: none

pool:
  vmImage: ubuntu-latest

variables:
  publisherId: jessehouwing
  extensionId: azure-pipelines-demo-ping-task
  initialVersion: 1.0.0
  marketplacePatServiceConnection: MarketplacePatConnection
  organizationUrls: |
    https://dev.azure.com/your-org

steps:
  - checkout: self

  - task: NodeTool@0
    displayName: Setup Node.js
    inputs:
      versionSpec: 20.x

  - script: npm install
    displayName: Install dependencies

  - script: npm run build
    displayName: Build

  - script: npm run test
    displayName: Test

  - script: npm run lint
    displayName: Lint

  - script: npm run bundle
    displayName: Bundle

  - task: azdo-marketplace@6
    name: queryVersion
    displayName: Query next patch version
    continueOnError: true
    inputs:
      operation: queryVersion
      connectionType: PAT
      connectionNamePAT: $(marketplacePatServiceConnection)
      publisherId: $(publisherId)
      extensionId: $(extensionId)
      versionAction: Patch

  - pwsh: |
      $version = '$(initialVersion)'
      if ('$(queryVersion.extension.proposedVersion)' -and '$(queryVersion.extension.proposedVersion)' -ne '') {
        $version = '$(queryVersion.extension.proposedVersion)'
      }
      Write-Host "Using extension version: $version"
      Write-Host "##vso[task.setvariable variable=resolvedVersion]$version"
    displayName: Resolve version (query or initial)

  - task: azdo-marketplace@6
    name: package
    displayName: Package VSIX
    inputs:
      operation: package
      publisherId: $(publisherId)
      extensionId: $(extensionId)
      extensionVersion: $(resolvedVersion)
      extensionVisibility: private
      updateTasksVersion: patch
      updateTasksId: true
      outputPath: $(Build.ArtifactStagingDirectory)

  - publish: $(Build.ArtifactStagingDirectory)
    artifact: vsix
    displayName: Upload VSIX artifact

  - task: azdo-marketplace@6
    name: publish
    displayName: Publish from VSIX
    inputs:
      operation: publish
      connectionType: PAT
      connectionNamePAT: $(marketplacePatServiceConnection)
      use: vsix
      vsixFile: $(package.extension.outputPath)
      noWaitValidation: true

  - task: azdo-marketplace@6
    displayName: Wait for validation
    inputs:
      operation: waitForValidation
      connectionType: PAT
      connectionNamePAT: $(marketplacePatServiceConnection)
      publisherId: $(publisherId)
      extensionId: $(extensionId)
      vsixFile: $(package.extension.outputPath)

  - task: azdo-marketplace@6
    displayName: Share extension
    condition: and(succeeded(), ne(variables['organizationUrls'], ''))
    inputs:
      operation: share
      connectionType: PAT
      connectionNamePAT: $(marketplacePatServiceConnection)
      publisherId: $(publisherId)
      extensionId: $(extensionId)
      accounts: $(organizationUrls)

  - task: azdo-marketplace@6
    displayName: Install extension
    condition: and(succeeded(), ne(variables['organizationUrls'], ''))
    inputs:
      operation: install
      connectionType: PAT
      connectionNamePAT: $(marketplacePatServiceConnection)
      publisherId: $(publisherId)
      extensionId: $(extensionId)
      accounts: $(organizationUrls)

  - task: azdo-marketplace@6
    displayName: Wait for installation
    condition: and(succeeded(), ne(variables['organizationUrls'], ''))
    inputs:
      operation: waitForInstallation
      connectionType: PAT
      connectionNamePAT: $(marketplacePatServiceConnection)
      publisherId: $(publisherId)
      extensionId: $(extensionId)
      accounts: $(organizationUrls)
      vsixFile: $(package.extension.outputPath)
