name: '5.0$(rev:.r)'

trigger:
  batch: true
  branches:
    include:
      - main
      - feature/*

pr:
  - main

pool:
  vmImage: 'windows-2022'

variables:
  - name: 'marketplaceServiceConnection'
    value: '84645cfd-95a8-4fcc-bb6a-d8e35e3d699d'

stages:
  - stage: 'Build'
    displayName: 'Build'
    jobs:
      - job:
        displayName: 'Build on Windows'
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: '20.x'
            displayName: 'Install Node.js'

          - task: Npm@1
            displayName: 'Build the extension'
            inputs:
              command: install
              verbose: false

          - task: Npm@1
            displayName: 'Build the extension'
            inputs:
              command: custom
              verbose: false
              customCommand: 'run build'

          - task: Npm@1
            displayName: 'Prepare the extension'
            inputs:
              command: custom
              verbose: false
              customCommand: 'run bundle'

          - task: azdo-marketplace@6
            name: 'packageprivate'
            displayName: 'Package the private extension'
            inputs:
              operation: 'package'
              outputPath: '$(Build.ArtifactStagingDirectory)\vsts-developer-tools-build-tasks-private.vsix'
              extensionVersion: '$(Build.BuildNumber)'
              extensionVisibility: 'private'
              updateTasksVersion: 'patch'
              use: 'manifest'

          - task: azdo-marketplace@6
            displayName: 'Package the public extension'
            name: 'packagepublic'
            inputs:
              operation: 'package'
              outputPath: '$(Build.ArtifactStagingDirectory)\vsts-developer-tools-build-tasks-public.vsix'
              publisherId: 'ms-devlabs'
              extensionName: 'Azure DevOps Extension Tasks'
              extensionId: 'vsts-developer-tools-build-tasks'
              extensionVersion: '$(Build.BuildNumber)'
              extensionVisibility: 'public'
              use: 'manifest'

          - publish: $(Build.ArtifactStagingDirectory)
            artifact: vsix
            displayName: 'Publish vsix as pipeline artifact'
            condition: succeededOrFailed()

  - stage: PublishDev
    displayName: 'Publish privately'
    condition: false # and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    dependsOn: 'Build'
    jobs:
      - deployment:
        environment: dev
        strategy:
          runOnce:
            deploy:
              steps:
                - download: current
                  artifact: vsix
                  patterns: '**/*-private.vsix'

                - task: NodeTool@0
                  inputs:
                    versionSpec: '20.x'
                  displayName: 'Install Node.js'

                - task: azdo-marketplace@6
                  name: 'publishDev'
                  displayName: 'Publish the private extension to ms-devlabs'
                  inputs:
                    operation: 'publish'
                    connectionType: 'AzureRM'
                    connectionNameAzureRm: 'SecurePublishMarketplaceServiceConnection'
                    publishSource: 'vsix'
                    use: 'vsix'
                    vsixFile: '$(Pipeline.Workspace)/vsix/vsts-developer-tools-build-tasks-private.vsix'
                    noWaitValidation: true

                - task: azdo-marketplace@6
                  displayName: 'Validate the private extension on the marketplace'
                  inputs:
                    operation: 'wait-for-validation'
                    connectionType: 'AzureRM'
                    connectionNameAzureRm: 'SecurePublishMarketplaceServiceConnection'
                    use: 'vsix'
                    vsixFile: '$(Pipeline.Workspace)/vsix/vsts-developer-tools-build-tasks-private.vsix'

  - stage: PublishProd
    displayName: 'Publish publicly to MsDevLabs'
    condition: false # and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
    dependsOn: 'PublishDev'
    jobs:
      - deployment:
        environment: public-vsts-developer-tools-build-tasks
        strategy:
          runOnce:
            deploy:
              steps:
                - download: current
                  artifact: vsix
                  patterns: '**/*-public.vsix'

                - task: NodeTool@0
                  inputs:
                    versionSpec: '20.x'
                  displayName: 'Install Node.js'

                - task: azdo-marketplace@6
                  name: 'publishProd'
                  displayName: 'Publish the public extension to ms-devlabs'
                  inputs:
                    operation: 'publish'
                    connectionType: 'AzureRM'
                    connectionNameAzureRm: 'SecurePublishMarketplaceServiceConnection'
                    use: 'vsix'
                    vsixFile: '$(Pipeline.Workspace)/vsix/vsts-developer-tools-build-tasks-public.vsix'
                    noWaitValidation: true

                - task: azdo-marketplace@6
                  displayName: 'Validate the private extension on the marketplace'
                  inputs:
                    operation: 'wait-for-validation'
                    connectionType: 'AzureRM'
                    connectionNameAzureRm: 'SecurePublishMarketplaceServiceConnection'
                    use: 'vsix'
                    vsixFile: '$(Pipeline.Workspace)/vsix/vsts-developer-tools-build-tasks-public.vsix'

                - task: GitHubRelease@1
                  displayName: 'Publish the public extension to GitHub'
                  inputs:
                    gitHubConnection: 'jessehouwing/azdo-marketplace'
                    repositoryName: '$(Build.Repository.Name)'
                    action: 'create'
                    target: '$(Build.SourceVersion)'
                    tagSource: 'userSpecifiedTag'
                    tag: 'v$(Build.BuildNumber)'
                    title: 'v$(Build.BuildNumber)'
                    releaseNotesSource: 'inline'
                    assets: '$(Pipeline.Workspace)/vsix/vsts-developer-tools-build-tasks-public.vsix*'
                    changeLogCompareToRelease: 'lastFullRelease'
                    changeLogType: 'issueBased'
                    changeLogLabels: '[{ "state" : "closed" }]'
